.custom2cols {
    width: 50% !important;
    max-width: 50% !important;
    flex-basis: 50% !important;
  }
  .custom3cols {
    width: 33% !important;
    max-width: 33% !important;
    flex-basis: 33% !important;
  }
  .custom4cols {
    width: 25% !important;
    max-width: 25% !important;
    flex-basis: 25% !important;
  }
  .custom5cols {
    width: 20% !important;
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
  .custom7cols {
    width: 14% !important;
    max-width: 14% !important;
    flex-basis: 14% !important;
  }